#blogContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 2rem;
    justify-content: center;
    margin: 1vw 10vw 1vw 10vw;
    color: #360f2a;
}

.contactBox {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm {
    background-color: #f2eeff;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    border: 5px solid #360f2a;
    border-radius: 5px;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

#message {
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}

.pageTitle {
    text-align: center;
}