.commentContainer{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(239, 239, 239);
}

.commentHeader {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 8px 5px 0 5px;
}

.commentHeader h4, .commentHeader p {
    margin: 0;
}

.commentHeader p {
    font-style: italic;
}