.resumeBox {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #360f2a;
}

.section {
    background-color: #f2eeff;
    margin: 10px 0;
    padding: 5px 20px;
  }

#resumeDownload {
    text-align: center;
    border: 2px solid #360f2a;
    background-color: #360f2a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

#resumeDownload:hover {
    background-color: white;
    color: #360f2a;
}